<a href="https://colab.research.google.com/github/somilasthana/MachineLearningSkills/blob/master/NLP_Word2Vec_Pattern_Discovery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Get Data From https://www.kaggle.com/CooperUnion/cardataset/download

In [1]:
!unzip /content/cardataset.zip

Archive:  /content/cardataset.zip
  inflating: data.csv

In [0]:
import pandas as pd
import numpy as np
import scipy
from gensim.models import Word2Vec
from scipy.spatial import distance

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [0]:
df_car = pd.read_csv("/content/data.csv")

In [5]:
len(df_car)

11914

In [4]:
df_car.head().T

                                                       0  ...                            4
Make                                                 BMW  ...                          BMW
Model                                         1 Series M  ...                     1 Series
Year                                                2011  ...                         2011
Engine Fuel Type             premium unleaded (required)  ...  premium unleaded (required)
Engine HP                                            335  ...                          230
Engine Cylinders                                       6  ...                            6
Transmission Type                                 MANUAL  ...                       MANUAL
Driven_Wheels                           rear wheel drive  ...             rear wheel drive
Number of Doors                                        2  ...                            2
Market Category    Factory Tuner,Luxury,High-Performance  ...                       Luxury
Vehicle Size                                     Compact  ...                      Compact
Vehicle Style                                      Coupe  ...                  Convertible
highway MPG                                           26  ...                           28
city mpg                                              19  ...                           18
Popularity                                          3916  ...                         3916
MSRP                                               46135  ...                        34500

[16 rows x 5 columns]

In [0]:
df_car["Make_Model"] = df_car["Make"] + " " + df_car["Model"]

In [0]:
columns = ['Engine Fuel Type','Transmission Type','Driven_Wheels','Market Category','Vehicle Size', 'Vehicle Style', 'Make_Model']

In [0]:
def combine_func(row):
  rec = []
  for c in columns:
    rec.append(str(row[c]))
  return rec

df_car["Combine_Characteristics"] = df_car[columns].apply(combine_func, axis=1)

In [18]:
df_car.head().T

                                                                         0  ...                                                  4
Make                                                                   BMW  ...                                                BMW
Model                                                           1 Series M  ...                                           1 Series
Year                                                                  2011  ...                                               2011
Engine Fuel Type                               premium unleaded (required)  ...                        premium unleaded (required)
Engine HP                                                              335  ...                                                230
Engine Cylinders                                                         6  ...                                                  6
Transmission Type                                                   MANUAL  ...                                             MANUAL
Driven_Wheels                                             rear wheel drive  ...                                   rear wheel drive
Number of Doors                                                          2  ...                                                  2
Market Category                      Factory Tuner,Luxury,High-Performance  ...                                             Luxury
Vehicle Size                                                       Compact  ...                                            Compact
Vehicle Style                                                        Coupe  ...                                        Convertible
highway MPG                                                             26  ...                                                 28
city mpg                                                                19  ...                                                 18
Popularity                                                            3916  ...                                               3916
MSRP                                                                 46135  ...                                              34500
Make_Model                                                  BMW 1 Series M  ...                                       BMW 1 Series
Combine_Characteristics  [premium unleaded (required), MANUAL, rear whe...  ...  [premium unleaded (required), MANUAL, rear whe...

[18 rows x 5 columns]

In [19]:
df_car.iloc[0].Combine_Characteristics

['premium unleaded (required)',
 'MANUAL',
 'rear wheel drive',
 'Factory Tuner,Luxury,High-Performance',
 'Compact',
 'Coupe',
 'BMW 1 Series M']

In [0]:
sent = list(df_car["Combine_Characteristics"])

In [21]:
sent[:2]

[['premium unleaded (required)',
  'MANUAL',
  'rear wheel drive',
  'Factory Tuner,Luxury,High-Performance',
  'Compact',
  'Coupe',
  'BMW 1 Series M'],
 ['premium unleaded (required)',
  'MANUAL',
  'rear wheel drive',
  'Luxury,Performance',
  'Compact',
  'Convertible',
  'BMW 1 Series']]

In [0]:
model = Word2Vec(sent, min_count=1,size= 50,workers=3, window =3, sg = 1)

In [23]:
df_car["Make_Model"].unique()[:3]

array(['BMW 1 Series M', 'BMW 1 Series', 'Audi 100'], dtype=object)

In [38]:
model['Audi 100']

array([ 0.08266102, -0.1898005 , -0.30731744, -0.05685844, -0.05633126,
       -0.20667674, -0.20052275, -0.09933323, -0.0174053 ,  0.09261803,
        0.03882178, -0.0196906 ,  0.0423541 , -0.16748723, -0.15225558,
       -0.05276911, -0.01089676,  0.12670211, -0.13264127, -0.10373712,
       -0.00476502, -0.19128717, -0.04370036, -0.12248108,  0.24472721,
       -0.01931706,  0.07322399,  0.09365115, -0.1688672 , -0.18153271,
        0.02821643, -0.18719228,  0.00698056, -0.06131585,  0.10151365,
       -0.1395575 , -0.07924308,  0.15487449,  0.02697189,  0.09196594,
       -0.0990309 ,  0.16137342,  0.19080667,  0.07956833, -0.02398193,
        0.0745622 ,  0.04436737, -0.16782261, -0.09652525,  0.05503586],
      dtype=float32)

In [34]:
model.most_similar('BMW 1 Series')[:5]

[('Ferrari 456M', 0.9947965741157532),
 ('Porsche Cayman', 0.9942175149917603),
 ('Hyundai Genesis Coupe', 0.9938561916351318),
 ('Lamborghini Aventador', 0.9938305020332336),
 ('Aston Martin DBS', 0.9933804273605347)]

In [35]:
distance.cosine(model['BMW 1 Series'], model['Ferrari 456M'])

0.005203425884246826

In [37]:
distance.cosine(model['BMW 1 Series'], model['Nissan Van'])

0.09262579679489136

In [11]:
df_car["Make_Model"].unique()[:10]

array(['BMW 1 Series M', 'BMW 1 Series', 'Audi 100', 'FIAT 124 Spider',
       'Mercedes-Benz 190-Class', 'BMW 2 Series', 'Audi 200',
       'Chrysler 200', 'Nissan 200SX', 'Nissan 240SX'], dtype=object)

In [52]:
model.most_similar('BMW Z8')[:5]

[('Acura NSX', 0.991580069065094),
 ('Lexus IS 250 C', 0.9915703535079956),
 ('Ford Shelby GT500', 0.9913044571876526),
 ('Honda S2000', 0.9912667870521545),
 ('Bentley Continental', 0.9910783767700195)]

In [57]:
model.most_similar('Volkswagen Vanagon')[:5]

[('Mazda 5', 0.9966442584991455),
 ('Plymouth Grand Voyager', 0.9942099452018738),
 ('Ford Explorer Sport', 0.9940526485443115),
 ('GMC Safari', 0.9924229979515076),
 ('Chevrolet Astro', 0.9924125671386719)]

In [53]:
diff_vec = model['BMW Z8'] - model['Bentley Continental'] + model['Volkswagen Vanagon']
diff_vec

array([ 0.07832734, -0.09396259, -0.12061332,  0.03486972,  0.05724066,
       -0.09482359, -0.08617326, -0.03501578, -0.01202982, -0.05508423,
        0.09746439, -0.05945227,  0.00371515, -0.14823288, -0.04850828,
       -0.02548684,  0.01306091,  0.03020939, -0.06027574, -0.0005128 ,
        0.04170881, -0.08288744, -0.0630969 , -0.05433872,  0.17236042,
        0.02138114,  0.05749274,  0.0244065 , -0.10887082, -0.05740461,
        0.06524683, -0.07457549, -0.0337478 ,  0.05318832,  0.04887503,
       -0.04038869, -0.08296104,  0.08438952, -0.002042  ,  0.04177973,
       -0.07116181,  0.04099508,  0.00817041, -0.01542675, -0.04363349,
        0.02794746,  0.03537019, -0.12289643, -0.03898126,  0.1146236 ],
      dtype=float32)

In [0]:
sim_value = {}
for make_model in df_car["Make_Model"].unique():
  sim_value.setdefault(make_model, distance.cosine(diff_vec, model[make_model]))

In [0]:
make_model_list = sorted(sim_value.items(), key=lambda x: x[1], reverse=True)

In [56]:
make_model_list[:5]

[('Porsche 911', 0.51786869764328),
 ('Aston Martin V8 Vantage', 0.5031510591506958),
 ('Nissan 370Z', 0.4845353364944458),
 ('Chevrolet Corvette', 0.44889605045318604),
 ('Nissan 350Z', 0.43948495388031006)]

In [0]:
sim_value = {}
for make_model in df_car["Make_Model"].unique():
  sim_value.setdefault(make_model, distance.euclidean(diff_vec, model[make_model]))

In [0]:
make_model_list = sorted(sim_value.items(), key=lambda x: x[1], reverse=True)

In [60]:
make_model_list[:5]

[('Ford F-150', 2.938979387283325),
 ('Chevrolet Silverado 1500', 2.8783528804779053),
 ('Volkswagen GTI', 2.8722729682922363),
 ('Toyota Tundra', 2.54097318649292),
 ('Volkswagen Beetle', 2.442676544189453)]

In [61]:
make_model_list[:5]

[('Ford F-150', 2.938979387283325),
 ('Chevrolet Silverado 1500', 2.8783528804779053),
 ('Volkswagen GTI', 2.8722729682922363),
 ('Toyota Tundra', 2.54097318649292),
 ('Volkswagen Beetle', 2.442676544189453)]

In [0]:
diameter = -np.inf
src = None
dest = None
for make_model_1 in df_car["Make_Model"].unique():
  for make_model_2 in df_car["Make_Model"].unique():
    dist = distance.euclidean(model[make_model_1], model[make_model_2])
    if dist > diameter:
      src = make_model_1
      dest = make_model_2
      diameter = dist

In [65]:
src,dest,diameter

('Ford F-150', 'Volkswagen GTI', 3.872936248779297)

In [18]:
df_car.iloc[[4470, 5604]].T

                                                                      4470                                               5604
Make                                                                  Ford                                         Volkswagen
Model                                                                F-150                                                GTI
Year                                                                  2015                                               2012
Engine Fuel Type                                          regular unleaded                     premium unleaded (recommended)
Engine HP                                                              325                                                200
Engine Cylinders                                                         6                                                  4
Transmission Type                                                AUTOMATIC                                             MANUAL
Driven_Wheels                                             four wheel drive                                  front wheel drive
Number of Doors                                                          4                                                  2
Market Category                                                  Flex Fuel                              Hatchback,Performance
Vehicle Size                                                         Large                                            Compact
Vehicle Style                                              Crew Cab Pickup                                      2dr Hatchback
highway MPG                                                             23                                                 31
city mpg                                                                18                                                 21
Popularity                                                            5657                                                873
MSRP                                                                 45090                                              26275
Make_Model                                                      Ford F-150                                     Volkswagen GTI
Combine_Characteristics  [regular unleaded, AUTOMATIC, four wheel drive...  [premium unleaded (recommended), MANUAL, front...